body {
  font-family: "ubuntu", sans-serif;
}
.help {
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 30px;
}
p {
  font-size: 20px;
}
.content {
  border: 1px solid black;
  padding: 5px 50px;
  margin: 1px 90px;
  text-align: center;
  background-color: lightgray;
}
